<ion-header>
  <ion-toolbar color ="primary ">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="main">
   <ion-grid>
     <ion-row style="padding-top: 15vw;">
       <ion-col  size-sm="6" offset-sm="3">
         <ion-card>
           <ion-card-content>
            <form #f="ngForm" (ngSubmit)="onLogin(f)">
              <ion-item lines="full">
                <ion-label position="floating">Email</ion-label>
                <ion-input
                type="email"
                 required
                 id="email"
                 #email="ngModel"
                 ngModel
                 name="email"></ion-input>
              </ion-item>
              <ion-item lines="none"  *ngIf="!email.valid && email.touched">
                Should be a valid email address!
              </ion-item>

              <ion-item lines="full">
                <ion-label position="floating">Password</ion-label>
                <ion-input
                type="password"

                 required minlength="6"
                 id="password"
                 #password="ngModel"
                 ngModel
                 name="password"></ion-input>
              </ion-item>
              <ion-item lines="none"  *ngIf="!password.valid && password.touched">
                Should be a valid email address!
              </ion-item>

              <ion-row>
                <ion-col>
                  <ion-button class="primary"  expand="block" type="submit" [disabled]="!email.valid || !password.valid">Login</ion-button>


                </ion-col>
              </ion-row>
            </form>
           </ion-card-content>
         </ion-card>

        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-label>Don't have an account? <ion-button fill="clear" (click)="Signup()">Sign- up here</ion-button>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
       </ion-col>
     </ion-row>
   </ion-grid>
 </div>


</ion-content>
