<ion-header >
  <ion-toolbar color ="primary ">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainContainer">
    <ion-grid>
      <ion-row style="padding-top: 20vh;">
        <ion-col  size-sm="4.5" offset-sm="4">
          <ion-card >
            <ion-card-content>

              <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="wrapform">

                  <ion-item lines="full">
                    <ion-input type="email" formControlName="email" placeholder="Enter your email address" required> <ion-icon name="mail-outline"></ion-icon></ion-input>
                    <span class="form-error" *ngIf="loginSubmit && loginFormError.email.errors?.required">
                      <p class="form-error-text">Email is required!</p>
                    </span>
                    <span class="form-error" *ngIf="loginSubmit && loginFormError.email.errors?.pattern">
                      <p class="form-error-text">Should be a valid email address!</p>
                    </span>
                  </ion-item>

                  <ion-item lines="full">
                    <ion-input #password type="password" formControlName="password" placeholder="**************" required><ion-icon name="lock-closed"></ion-icon></ion-input>
                    <ion-icon #eye name="eye" slot="end" (click)="revealPass(password, eye)" ></ion-icon>
                    <span class="form-error" *ngIf="loginSubmit && loginFormError.password.errors?.required">
                      <p class="form-error-text">Password is required!</p>
                    </span>
                  </ion-item>

                  <ion-row>
                    <ion-col>
                    <div class="password_forgot">
                      <ion-button fill="clear" class="ion-no-padding">Forgot Password?</ion-button>
                    </div>
                    <div class="sign-btn-wrap">
                      <ion-button class="sign-btn"  expand="block" shape="round " fill="solid" type="submit">Login</ion-button>
                      </div>
                    </ion-col>
                  </ion-row>

                </div>
              </form>

              <div class="text-tag">
                <span>Or via Social Media</span>
              </div>

              <div class="social-btns">
                <ion-button fill="clear"  class="facebookbtn ion-no-padding">
                  <ion-img src="https://i.pinimg.com/736x/d5/18/ec/d518eceea19f4b1a2ee032ddc634dd7d.jpg"></ion-img>
                </ion-button>
                <ion-button fill="clear"  class="googlebtn ion-no-padding">
                  <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png"></ion-img>
                </ion-button>
              </div>

            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-content>
              <ion-item>
                <div class="ion-card-footer">
                  <span>Don't have an account?</span><button class="ion-no-padding" (click)="navToSignup()">Sign Up</button>
                </div>
            </ion-item>
          </ion-card-content>
        </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
