
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons  slot="start">
      <ion-button  (click)="back()"   style=" position: absolute;">
        <ion-icon name="close" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Host Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="eventDetailsForm"  >
        <ion-item>
          <ion-label position="floating">Event Name</ion-label>
          <ion-input type="text" formControlName="eventLabel" placeholder="Event Name" required></ion-input>
          <span class="form-error" *ngIf="formSubmit && eventDetailsFormError.eventLabel.errors?.required">
            <p class="form-error-text">Event Name is required!</p>
          </span>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Date </ion-label>
          <ion-datetime
            displayFormat="MMM DD, YYYY"
            pickerFormat="MMMM DD YYYY"
            formControlName="date"
            placeholder="Date"
            required >
          </ion-datetime>
          <span class="form-error" *ngIf="formSubmit && eventDetailsFormError.date.errors?.required">
            <p class="form-error-text">Date and Time is required!</p>
          </span>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Time </ion-label>
          <ion-select></ion-select>
          <span class="form-error" *ngIf="formSubmit && eventDetailsFormError.time.errors?.required">
            <p class="form-error-text">Date and Time is required!</p>
          </span>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Event Type</ion-label >
          <ion-select placeholder="Event Type" formControlName="eventType" >
            <ion-select-option value="abc">Abc</ion-select-option>
            <ion-select-option value="def">Def</ion-select-option>
          </ion-select>
          <span class="form-error" *ngIf="formSubmit && eventDetailsFormError.eventType.errors?.required">
            <p class="form-error-text">Event Type is required!</p>
          </span>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Event Address</ion-label>
          <ion-input type="text"  formControlName="eventAddress" placeholder="Event Address" required></ion-input>
          <span class="form-error" *ngIf="formSubmit && eventDetailsFormError.eventAddress.errors?.required">
            <p class="form-error-text">Event Address is required!</p>
          </span>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Event Privacy</ion-label>
          <ion-select placeholder="Event Type" formControlName="eventPrivacy" >
            <ion-select-option value="Open">Open</ion-select-option>
            <ion-select-option value="Closed">Closed</ion-select-option>
          </ion-select>
          <span class="form-error" *ngIf="formSubmit && eventDetailsFormError.eventPrivacy.errors?.required">
            <p class="form-error-text">Event Privacy is required!</p>
          </span>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Event Status</ion-label>
          <ion-select placeholder="Event Status" formControlName="eventStatus" >
            <ion-select-option value="Open">Open</ion-select-option>
            <ion-select-option value="Completed">Completed</ion-select-option>
            <ion-select-option value="Cancelled">Cancelled</ion-select-option>
          </ion-select>
          <span class="form-error" *ngIf="formSubmit && eventDetailsFormError.eventStatus.errors?.required">
            <p class="form-error-text">Event Status is required!</p>
          </span>
        </ion-item>


        <div class="sign-btn-wrap">
          <ion-button  shape="round" type="button" expand="block" fill="solid" class="sign-btn" (click)= "onSubmit()">Confirm</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>


  <!-- <ion-list>
    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Start Date and Time</ion-label>
      <ion-datetime displayFormat="MMM DD, h:mm A" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>
  </ion-list>
<ion-card align-text-center ion-justify-content-center>

<ion-card-header class="ion-padding"><h4 style="text-align: center;">Invite Friends</h4>
</ion-card-header>
<ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>

<ion-list>
<ion-item *ngFor="let data of userRecords | filter:filterTerm">

  <ion-label>{{data.id}}</ion-label>
  <ion-checkbox color="dark" (ionChange) ="onCheck()"slot="start" [(ngModel)]="data.check"></ion-checkbox>
  <ion-label>{{data.name}}</ion-label>
  <ion-label>{{data.email}}</ion-label>
</ion-item>
</ion-list>
<div *ngFor="let data of userRecords">
<ion-chip *ngIf="data.check==='true'">
  <ion-label color="primary">{{data.name}}</ion-label>
</ion-chip>
</div>

</ion-card> -->

</ion-content>
