<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <ion-grid>
      <ion-row style="padding-top: 15vh;">
        <ion-col size-sm="4.5" offset-sm="4">
          <ion-card>
            <ion-card-content>

              <form [formGroup]="signUpForm" (ngSubmit)="onSignup()">

                <ion-item lines="full">
                  <ion-input type="text" formControlName="fullname" placeholder="Full name" required><ion-icon name="person-outline"  ></ion-icon></ion-input>
                  <span class="error" *ngIf="signUpSubmit && signUpFormError.fullname.errors?.required">
                    <p class="error-text">Name is required!</p>
                  </span>
                </ion-item>

                <ion-item lines="full">
                  <ion-input type="text" formControlName="username" placeholder="Enter your username" required><ion-icon name="person-circle-outline"></ion-icon></ion-input>
                  <span class="error" *ngIf="signUpSubmit && signUpFormError.username.errors?.required">
                    <p class="error-text">Username is required!</p>
                  </span>
                </ion-item>

                <ion-item lines="full">
                  <ion-input type="email" formControlName="email" placeholder="Enter your email address" required><ion-icon name="mail-outline"></ion-icon></ion-input>
                  <span class="error" *ngIf="signUpSubmit && signUpFormError.email.errors?.required">
                    <p class="error-text">Email address is required!</p>
                  </span>
                  <span class="error" *ngIf="signUpSubmit && signUpFormError.email.errors?.pattern">
                    <p class="error-text">Should be a valid email address!</p>
                  </span>
                </ion-item>

                <ion-item lines="full">
                  <ion-input #password type="password" formControlName="password" placeholder="***********" required>
                    <ion-icon name="lock-closed"></ion-icon>
                  </ion-input>
                  <ion-icon #eye id="eye" name="eye" slot="end" (click)="revealPass(password, eye)" ></ion-icon>
                  <span class="error" *ngIf="signUpSubmit && signUpFormError.password.errors?.required">
                    <p class="error-text">Password is required!</p>
                  </span>
                  <span class="error" *ngIf="signUpSubmit && signUpFormError.password.errors?.minlength">
                    <p class="error-text">Weak Password!</p>
                  </span>
                </ion-item>

                <ion-row>
                  <ion-col>
                    <div class="sign-btn-wrap">
                      <ion-button  shape="round" type="submit" expand="block" fill="solid" class="sign-btn" >Sign Up</ion-button>
                    </div>
                  </ion-col>
                </ion-row>

              </form>

              <div class="text-tag">
                <span>Sign Up with</span>
              </div>
              <div class="social-btns">
                <ion-button fill="clear"  class="facebookbtn ion-no-padding">
                  <ion-img src="https://i.pinimg.com/736x/d5/18/ec/d518eceea19f4b1a2ee032ddc634dd7d.jpg"></ion-img>
                </ion-button>
                <ion-button fill="clear"  class="googlebtn ion-no-padding">
                  <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png"></ion-img>
                </ion-button>
              </div>

            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-content>
              <ion-item>
                <div class="ion-card-footer">
                  <span>Already have an account?</span><button class="ion-no-padding" (click)="navToLogin()">Log In</button>
                </div>
              </ion-item>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
