<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<super-tabs>
  <super-tabs-toolbar slot="top" color="primary">
    <super-tab-button>
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Activities</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="attach-outline"></ion-icon>
      <ion-label>Explore</ion-label>
    </super-tab-button>

  </super-tabs-toolbar>

  <super-tabs-container>
    <super-tab>
      <ion-content>
        <div class="main">
        <ion-card align-text-center ion-justify-content-center>

          <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>

          <ion-list>
            <ion-item *ngFor="let data of sampleRecord | filter:filterTerm">
              <ion-avatar>
                <ion-img src={{data.imageUrl}}></ion-img>
              </ion-avatar>
              <br>
              <ion-label>{{data.name}}</ion-label>
         </ion-item>
          </ion-list>
          </ion-card>
          </div>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <div class="main">
        <div *ngIf="cards">
          <ion-card button (click)="onDetail()">
            <ion-card-header class="ion-padding"><h4 style="text-align: center;">{{activity}}</h4></ion-card-header>
            <ion-item>
              <ion-label> Location</ion-label>
              <ion-label>{{sampleLoc}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label> Date And Time</ion-label>
              <ion-label>{{sampleDateTime}}</ion-label>
            </ion-item>
          </ion-card>

          <ion-card>
          <div *ngIf="buttons">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button color="success" expand="block" (click)="onAccept()">Accept</ion-button>
              </ion-col>
              <ion-col> <ion-button color="danger" expand="block" (click)="onDecline()">Decline</ion-button></ion-col>

        </ion-row>
          </ion-grid>
        </div>


          </ion-card>
        </div>
        <div *ngFor="let add of addedCard">
          <ion-card button (click)="onDetail2(add.date,add.location,add.records,add.req)">
            <ion-card-header class="ion-padding"><h4 style="text-align: center;">{{activity2}}</h4></ion-card-header>
            <ion-item>
              <ion-label> Location</ion-label>
              <ion-label>{{add.location}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label> Date And Time</ion-label>
              <ion-label>{{add.date}}</ion-label>
            </ion-item>
          </ion-card>

          <ion-card>
          <div *ngIf="buttons">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button color="success" expand="block" (click)="onAccept()">Accept</ion-button>
              </ion-col>
              <ion-col> <ion-button color="danger" expand="block" (click)="onDecline()">Decline</ion-button></ion-col>

        </ion-row>
          </ion-grid>
        </div>


          </ion-card>
        </div>
        <ion-card >

          <ion-button color="primary" expand="block" (click)="onAddActivity()">
            <ion-label>Add an Activity</ion-label>
            <ion-icon name="add"></ion-icon>
          </ion-button>
          </ion-card>
          </div>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <div class="main">
        <h2>Explore</h2>
        <ion-button (click)="logout()">Log out</ion-button>
        </div>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>
<!-- <ion-content>
<div class="main">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card align-text-center ion-justify-content-center>

        <ion-card-header class="ion-padding"><h4 >Chat</h4>
        </ion-card-header>
        <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>

        <ion-list>
          <ion-item *ngFor="let data of sampleRecord | filter:filterTerm">
            <ion-avatar>
              <ion-img src={{data.imageUrl}}></ion-img>
            </ion-avatar>
            <br>
            <ion-label>{{data.name}}</ion-label>
       </ion-item>
        </ion-list>
        </ion-card>
    </ion-slide>
    <ion-slide>
      <div *ngIf="cards">
      <ion-card button (click)="onDetail()">
        <ion-card-header class="ion-padding"><h4 style="text-align: center;">{{activity}}</h4></ion-card-header>
        <ion-item>
          <ion-label> Location</ion-label>
          <ion-label>{{sampleLoc}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label> Date And Time</ion-label>
          <ion-label>{{sampleDateTime}}</ion-label>
        </ion-item>
      </ion-card>

      <ion-card>
      <div *ngIf="buttons">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="success" expand="block" (click)="onAccept()">Accept</ion-button>
          </ion-col>
          <ion-col> <ion-button color="danger" expand="block" (click)="onDecline()">Decline</ion-button></ion-col>

    </ion-row>
      </ion-grid>
    </div>


      </ion-card>
    </div>

      <ion-card >

        <ion-button color="primary" expand="block" (click)="onAddActivity()">
          <ion-label>Add an Activity</ion-label>
          <ion-icon name="add"></ion-icon>
        </ion-button>
        </ion-card>
    </ion-slide>


  <ion-slide>
    <h2>Slide 3</h2>
  </ion-slide>
</ion-slides>

</div>
</ion-content> -->
