<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="mainContainer">
    <ng-template ngFor let-events [ngForOf]="eventBlocks">
      <ion-card *ngFor="let event of events | keyvalue; let i=index" (click)="eventDetails(event)" class="eventCard">
        <ion-card-header>
          <div class="imgWrapper">
            <img src="https://i.pinimg.com/originals/31/78/95/317895e71b1c8e53e9450ab269608c04.jpg">
          </div>
          <ion-card-subtitle>
            location
          </ion-card-subtitle>
          <ion-card-title>
            {{event.value['eventLabel']}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid class="ion-no-margin ion-no-padding">
            <ion-row>
              <ion-col size="9">
                <ion-text>{{event.value['date']|date:"HH:mm"}} , {{changeDate(event.value['date']|date:"yyyy-MM-dd", 'dddd, MMM dd, yyyy')}}</ion-text>
              </ion-col>
              <ion-col size="3">
                <div class="ion-text-center">
                  <ion-text color="success">{{event.value['eventType']}}</ion-text>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ion-infinite-scroll threshold="25%" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

</ion-content>


<!-- <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="onClick()">
        <ion-avatar>
          <ion-img [src]="profileImageUrl" class="icon"></ion-img>
        </ion-avatar>
      </ion-tab-button>
      <ion-tab-button (click)="hostEventPage()">
        <ion-icon name="add-circle" size="large"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="myEvents()">
        <ion-icon name="list" size="large"></ion-icon>
        <ion-label>My Events</ion-label>
        <ion-badge>9+</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar> -->
