.eventCard {
  min-width: 110px;
  margin-bottom: 20px;
  .imgWrapper {
    min-height: 100px;
  }
  ion-card-title {
    color: var(--ion-color-primary);
    font-weight: 700;
    font-size:25px;
  }
}
