<ion-header>
  <ion-toolbar color="primary">
    <ion-avatar class="profile" (click)="onClick()" slot="start">
      <ion-img [src]="profileImageUrl"></ion-img>
    </ion-avatar>
    <ion-title>Home</ion-title>
    <ion-icon name="chatbubbles" size="large"  (click)="swipeNext()" slot="end" style="margin-right: 10px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="mainContainer">

    <ng-template ngFor let-events [ngForOf]="eventBlocks">
      <ion-item *ngFor="let event of events | keyvalue; let i =index" class="item" (click)="eventDetails(event)" lines="none" >
        <ion-card class="inner" >

          <ion-row>
            <ion-col class="ion-no-padding">
              <div class="img-container1"  [style.background-image]="'url(https://i.pinimg.com/originals/31/78/95/317895e71b1c8e53e9450ab269608c04.jpg)'"></div>
            </ion-col>
            <ion-col class="ion-no-padding" >
              <ion-row >
                <ion-col class="ion-no-padding" >
                  <div class="img-container2"  [style.background-image]="'url(https://www.breathehr.com/hubfs/policy%20for%20social%20events%20people%20dancing-min.png)'"></div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-no-padding">
                  <div class="img-container2"  [style.background-image]="'url(https://www.marthascatering.com/uploads/images/Events/Social-Events/Events-Social-15-8.jpg)'"></div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-grid>
            <ion-row>
              <ion-col size="8">
                <ion-row>
                  <ion-col>
                    <ion-text color="primary" size="large"><h3 style="margin: 0px;"><b> {{event.value['eventLabel']}}</b></h3></ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-text>{{event.value['date']|date:"yyyy-MM-dd"}}</ion-text>
                  </ion-col>
                  <ion-col>
                    <ion-text>{{event.value['date']|date:"HH:mm"}}</ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="4">
                <ion-row>
                  <ion-col>
                    <ion-text color="success">{{event.value['eventType']}}</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                <ion-col>
                  
                  <ion-text color="danger">Distance</ion-text>
                </ion-col>
              </ion-row>
              </ion-col>
            </ion-row>

            
            <ion-row *ngIf="event.value['HostId']!==hostId">
              <ion-col>
               
                <ion-button *ngIf="event.value['show']!=='true'"color="primary" expand="block" shape="round " fill="solid" (click)="interested(event,i)" >
                  Interested 
                </ion-button>
                <ion-text *ngIf="event.value['show']==='true'" color="success">Already sent request to join this event!</ion-text>
              </ion-col>  
            </ion-row>
            
          </ion-grid>
          
        </ion-card>
      </ion-item>
    </ng-template>

    <ion-infinite-scroll threshold="25%" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

</ion-content>


<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="onClick()">
        <ion-img [src]="profileImageUrl" class="icon"></ion-img>
        <ion-label>Profile</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button>
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Speakers</ion-label>
      </ion-tab-button> -->

      <ion-tab-button (click)="hostEventPage()">
        <ion-icon name="add-circle" size="large"></ion-icon>

      </ion-tab-button>

      <!-- <ion-tab-button>
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button> -->

      <ion-tab-button (click)="myEvents()">
        <ion-icon name="list" size="large"></ion-icon>
        <ion-label>My Events</ion-label>
        <ion-badge>9+</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
