<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Activity-Details
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content >
    <div class="main">
    <ion-card align-text-center ion-justify-content-center>
      <ion-card-header class="ion-padding"><h4 style="text-align: center;">Select a Location</h4></ion-card-header>
        <ion-item><ion-label> Locations</ion-label>
          <ion-select [(ngModel)]="myLocation">
            <div  *ngFor="let add of location">
              <ion-select-option *ngIf="add.id===id">
                {{add.address}}
              </ion-select-option>
            </div>
        </ion-select>
      </ion-item>


  </ion-card>

  <ion-card align-text-center ion-justify-content-center>
    <ion-item>
      <ion-label>Start Date and Time</ion-label>
      <ion-datetime displayFormat="MMM DD, h:mm A" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>

</ion-card>





<ion-card align-text-center ion-justify-content-center>

<ion-card-header class="ion-padding"><h4 style="text-align: center;">Invite Friends</h4>
</ion-card-header>
<ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>

<ion-list>
  <ion-item *ngFor="let data of displayList | filter:filterTerm">


    <ion-checkbox color="dark" (ionChange) ="onCheck()"slot="start" [(ngModel)]="data.check"></ion-checkbox>


    <ion-avatar>
      <ion-img src={{data.imageUrl}}></ion-img>
    </ion-avatar>
    <ion-label>{{data.name}}</ion-label>
    <ion-label>{{data.email}}</ion-label>
  </ion-item>
  </ion-list>



</ion-card>
<ion-card>
  <div *ngFor="let data of displayList">
    <ion-chip *ngIf="data.check===true">
      <ion-label color="primary">{{data.name}}</ion-label>
    </ion-chip>
  </div>
</ion-card>

<ion-card>

  <ion-card-content>
    <form #f="ngForm" (ngSubmit)="onAddRequirements(f)">
      <ion-item>
        <ion-label position="floating">
          Items Required
        </ion-label>
        <ion-input type="text" ngModel name="requirement" required ></ion-input>
      </ion-item>
      <ion-button  type="submit"> Add</ion-button>

    </form>

    <ion-chip *ngFor="let a of display">
      <ion-label color="primary">{{a}}</ion-label>
    </ion-chip>
  </ion-card-content>
</ion-card>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button color="success"expand ="block"(click)="onConfirm()">
        Confirm
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</div>

  </ion-content>




