#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}




#design{
  background-size: 100%;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  width: 105vw!important;
  height: 100vh!important;
  margin-left: -10%!important;
  background-attachment: fixed!important;
  margin-top: -10%!important;
  background-position: center center!important;
  background-image: 'https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-blue-simple-solid-color-background-color-image_48192.jpg';
}
