
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content >
  <div class="main">
<ion-grid>
  <ion-row justify-content-end align-items-center >
    <ion-col  size-sm="6" size-md="6" size-lg="6" align-self-stretch >
      <ion-card button (click)="onGoOut()">
        <ion-card-content class="ion-no-padding">
          <ion-card-title class="myoverlay">
            Stay In
          </ion-card-title>

            <ion-img src="https://imgix.bustle.com/elite-daily/2015/08/06035317/Stocksy_txp42baa97c3HZ000_Small_728297.jpg?w=1020&h=574&fit=crop&crop=faces&auto=format%2Ccompress"  ></ion-img>



        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col  size-xs="12" size-sm="6" size-md="6" size-lg="6" align-self-stretch>
      <ion-card  button (click)="onStayIn()">

        <ion-card-content class="ion-no-padding">
          <ion-card-title class="myoverlay">
            Go out
          </ion-card-title>

              <ion-img src="https://media.phillyvoice.com/media/images/iStock-641775168.2e16d0ba.fill-735x490.jpg" class="helpIcon" ></ion-img>


        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</ion-content>



