<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons  slot="start">
      <ion-button  (click)="back()"   style=" position: absolute;">
        <ion-icon name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>Event Details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="mainContainer">
    <ion-card>
        <ion-row>
          <ion-col class="ion-no-padding">
          <div class="img-container1"  [style.background-image]="'url(https://i.pinimg.com/originals/31/78/95/317895e71b1c8e53e9450ab269608c04.jpg)'"></div>
          </ion-col>
          <ion-col class="ion-no-padding" >
            <ion-row >
              <ion-col  >
                <div class="img-container2"  [style.background-image]="'url(https://www.breathehr.com/hubfs/policy%20for%20social%20events%20people%20dancing-min.png)'"></div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding" >
                <div class="img-container2"  [style.background-image]="'url(https://www.marthascatering.com/uploads/images/Events/Social-Events/Events-Social-15-8.jpg)'"></div>
              </ion-col>
            </ion-row>     
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <ion-row>
              <ion-col>
                <ion-text color="primary" size="large"><h3 style="margin: 0px;"><b> {{eventDetails.eventLabel}}</b></h3></ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-text>{{eventDetails.date|date:"yyyy-MM-dd"}}</ion-text>
                </ion-col>
                <ion-col>
                    <ion-text>{{eventDetails.date|date:"HH:mm"}}</ion-text>
                </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-row>
              <ion-col>
                    <ion-text color="success">{{eventDetails.eventType}}</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                    <ion-text color="danger">Distance</ion-text>
              </ion-col>
            </ion-row>
             
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <ion-text style="text-align: center;"> {{eventDetails.eventAddress}} </ion-text> 
      </ion-col>
        </ion-row> 
    </ion-card>   
    <ion-card *ngIf="show">       
      <ion-row>
        <ion-col>
          <ion-text style="text-align: center;" *ngIf="show"><h3><b>Guest List</b></h3></ion-text>
        </ion-col>
      </ion-row>
      <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true" *ngIf="show" ></ion-searchbar>
      <ion-list>
        <ion-item  *ngFor="let guest of goodResponse | filter : filterTerm">
          <ion-row>
            <ion-col class="ion-no-padding" size="3" >
              <ion-avatar style="align-self: center;">
                <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPrcSIYcfdCK1XNhHWpQfuoW5eZyUhuLBMKB5FzAWYJKbGy_XvpR4aAnPlOzYd2ptiDFw&usqp=CAU"></ion-img>
              </ion-avatar>
            </ion-col>
              <ion-col class="ion-no-padding" size="3">
                <ion-text style="text-transform: capitalize; text-align: center;"><h3><br>{{guest.guestName}}</h3></ion-text>
              </ion-col>
              <ion-col *ngIf="guest.requestStatus==='pending'" size="6">
                <ion-col >
                  <ion-button fill="outline" color="success" (click)="accept(guest)">
                    <ion-icon name="checkmark" size="large"></ion-icon>
                  </ion-button>
                 </ion-col>
                 <ion-col>
                 <ion-button fill="outline" color="danger" (click)="reject(guest)">
                    <ion-icon name="close" size="large"></ion-icon>
                  </ion-button>
                </ion-col> 
                </ion-col>

                
              
            <ion-col *ngIf="guest.requestStatus==='reject'" size="6">
             <ion-item style="justify-content: center;">
             
                <ion-select value={{status}} [(ngModel)]="guest.requestStatus" (ionChange)="option(guest)">
                  <ion-select-option  value={{guest.requestStatus}}>{{guest.requestStatus}}</ion-select-option>
                  <ion-select-option value="accept">accept</ion-select-option>
                </ion-select>
              </ion-item>

            </ion-col>

            <ion-col *ngIf="guest.requestStatus==='accept'">
              
                <ion-select value={{guest.requestStatus}} [(ngModel)]="guest.requestStatus" (ionChange)="option(guest)">
                  <ion-select-option  value={{guest.requestStatus}}>{{guest.requestStatus}}</ion-select-option>
                  <ion-select-option value="reject">reject</ion-select-option>
                </ion-select>
              

            </ion-col>
            <div>

            </div>
          </ion-row>  
          
        </ion-item>
      </ion-list>
    </ion-card>
</div>
</ion-content>