@import '~swiper/swiper-bundle';

ion-img{
    width:100%;
    height:100%;
  }

  .myCard{
    position:relative;

  }
  .div{
      position: relative;
  }
  .myOverlay{
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 99;
      bottom: 0px;
      opacity: 0.5;
      background: #000;
      color: #fff;

  }
  ion-item{
    opacity: 0.5;
    background:#000;
    color: #fff
  }
  h1,h3{
      font-size: x-large;
     margin-left: 15px;
     color: rgb(180, 180, 207);
     z-index: 100;
  }
  h2{
    font-size: x-large;
    margin-left: 15px;
    color: rgb(43, 112, 47);
    text-align: center;
    z-index: 100;
  }

  ion-text{
    margin-left: 10px;
  }
  .swiper-button-prev,.swiper-button-next {
    color: black;
    size: 20px;
}

.editprofile{
  top: 7px;
    z-index: 9;
    position: absolute;
    background: #fff;
    font-size: 12px;
    border-radius: 2px;
    padding: 2px 5px;
    right: 9px;
}
.info_sec{
  letter-spacing: .5 px;
  padding: 1px 10px;
  margin-top: 15px;
  h3{
    color: #000;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  h4{
   color: #000;
  }
  .textsec{
    padding: 7px 8px;
    border-radius: 4px;
    background: #f5f6f9;
    margin-top: 10px;
  }

}

